<nav>
  <ul>
    <li>
      <%= link_to 'Billboard', billboards_path %>
    </li>
    <li>
      <%= link_to 'Add Artist', new_artist_path %>
    </li>
    <li>
      <%= link_to 'Add Song', new_song_path %>
    </li>
    <%# <li> %>
      <%# <%= link_to '', new_user_path %>
    <%# </li> %>
  </ul>
</nav>